.detail-container {
    font-family: 'DalSeoHealingBold';
    width: 100%;
    margin-bottom: 120px
}

.deatil-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-img {
    margin: 20px;
}

.detail-info {
    padding-top: 20px;
    width: 280px;
}

.detail-span {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    font-size: 20px;
    align-items: center;
}

.detail-span > img {
    height: 20px;
}

.detail-span > span {
    margin-left: 12px;
}

.detail-button {
    position: fixed;
    bottom: 80px;
}

.detail-button > button {
    background-color: #B4E0D7;
    border-radius: 20px;
    width: 280px;
    height: 40px;
    font-size: 20px;
}