.profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'DalseoHealingBold';
  margin-top: 30px;
  font-size: 20px;
}

.profile-username {
  font-size: 30px !important;
}

.profile-userinfo {
  margin-top: 20px;
  width: 400px;
}

@media all and (max-width: 400px) {
  .profile-userinfo {
    width: 100%;
    margin-top: 20px;
  }
}

.profile-point {
  display: flex;
  justify-content: space-between;
}

.profile-component {
  margin: 10px 0;
}
