@tailwind base;
@tailwind components;
@tailwind utilities;

@media all and (max-width: 768px) {
  .Footer_contain {
    height: 60px;
    padding-top: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px rgba(179, 179, 179, 0.575) solid;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    background-color: white;
  }
}

@media all and (min-width: 768px) {
  .Footer_contain {
    height: 60px;
    padding-top: 5px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 768px;
    margin: 0 auto;
    border-top: 1px rgba(179, 179, 179, 0.575) solid;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    background-color: white;
  }
}

.navigater {
  padding: 6px;
  margin: 0 20px;
}

.category-button {
  font-size: 16px;
  background-color: #B4E0D7;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin: auto 20px;
}

.category-add-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 140px;
}

.category-add-button {
  display: flex;
  flex-direction: row;
  margin: 10px 20px;
  align-items: center;
  font-size: 20px;
  width: 100px;
  height: 40px;
  background: #FFFFFF;
  border: #B4E0D7;
  border-radius: 5px;
}

.category-add-button > p {
  margin-left: 15px;
  font-size: 15px;
}

.open_category {
	-webkit-animation: rotate-90-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: rotate-90-ccw 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@keyframes rotate-90-ccw {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}


.plus {
  position: relative;
  padding: 0 !important;
  line-height: 38px;
  width: 46px;
  height: 46px;
  border-radius: 25px;
  background-color: rgba(164, 237, 224, 0.35);
  bottom: 4px;
  font-size: 45px;
  padding-bottom: 6px;
  text-align: center;
}

.button_off {
  display: none;
}

.button_open {
  position: absolute;
  background-color: white;
  box-shadow: 1px 3px 8px 3px #7ab4b8;
  width: 140px;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
  font-family: 'DalseoHealingMedium';
  border-radius: 20px;
  -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.button_open::after {
  border-color: white transparent;
  box-shadow: #7ab4b8;
  border-style: solid;
  border-width: 8px 6.5px 0px 6px;
  content: '';
  display: block;
  left: 50%;
  position: absolute;
  bottom: -8px;
  width: 0;
  z-index: 0;
}


@-webkit-keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}
@keyframes scale-in-bottom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 1;
  }
}
