@tailwind base;
@tailwind components;
@tailwind utilities;

.Footer_contain {
  height: 60px;
  padding-top: 5px;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px rgba(179, 179, 179, 0.575) solid;
}

.navigater {
  padding: 6px;
  margin: 0 20px;
}

.add_button {
  position: relative;
  padding: 0 !important;
  width: 46px;
  height: 46px;
  border-radius: 25px;
  bottom: 3px;
  background-color: rgba(164, 237, 224, 0.35);
}

.plus {
  font-size: 45px;
  line-height: 0px;
  padding-bottom: 6px;
  text-align: center;
}