.list-container {
  width: 400px;
  border-radius: 20px;
  font-family: "DalSeoHealingMedium";
  margin: 20px auto 60px;
}

@media all and (max-width: 400px) {
  .list-container {
    width: 100%;
    border-radius: 20px;
    font-family: "DalSeoHealingMedium";
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

.list-item-container {
  height: 133px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  border-radius: 12px;
}

.list-item-container:hover {
  background-color: rgba(164, 237, 224, 0.21);
}

.list-item-container > img {
  border-radius: 15px;
}

.list-item-info {
  display: flex;
  width: 63%;
  flex-direction: column;
  padding: 12px 20px 12px 0;
}


.list-item-span {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  align-items: center;
}

.list-item-span > img {
  height: 18px;
}

.list-item-span > span {
  margin-left: 3px;
}

/* 로딩 컴포넌트 */
.lds-ring {
  display: inline-block;
  position: relative;
  margin: 0 auto;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid black;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}