.list-container {
  width: 400px;
  border-radius: 20px;
  font-family: "DalSeoHealingMedium";
  margin: 20px auto 60px;
}

@media all and (max-width: 400px) {
  .list-container {
    width: 100%;
    border-radius: 20px;
    font-family: "DalSeoHealingMedium";
    margin-top: 20px;
    margin-bottom: 60px;
  }
}

.list-item-container {
  height: 133px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;
  border-radius: 12px;
}

.list-item-container:hover {
  background-color: rgba(164, 237, 224, 0.21);
}

.list-item-container > img {
  border-radius: 15px;
}

.list-item-info {
  display: flex;
  flex-direction: column;
  padding: 12px 20px 12px 0;
}


.list-item-span {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  align-items: center;
}

.list-item-span > img {
  height: 18px;
}

.list-item-span > span {
  margin-left: 3px;
}