.map_wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  left:0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#map {
  border-radius: 20px 20px 0 0;
}

.hAddr {
  display: relative;
  background-color: white;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}