.search_top_nav {
  display: flex;
  flex-direction: row;
  font-family: 'DalSeoHealingMedium';
  width: 400px;
  margin: 0 auto;
}

.search_map {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  margin: 5px;
  width: 50px;
}

.search_map > img {
  margin: auto;
}

.search_map > span {
  text-align: center;
  width: 46px;
  height: 20px;
}

.search_box {
  width: 400px;
  height: 40px;
  margin: 10px auto;
  padding: 10px 0px;
  background: #B4E0D7;
  border-radius: 20px;
  display: flex;
  justify-content: space-around;
  
}

@media all and (max-width: 400px) {
  .search_box {
    width: 80%;
    height: 40px;
    margin: 10px auto;
    padding: 10px 0px;
    background: #B4E0D7;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
  }
}

.search_input {
  border: none;
  background: #B4E0D7;
  width: 80%;
}