@charset "utf-8";

/* 폰트 적용 */
@font-face {
  font-family: "DalSeoHealingMedium";
  src: url("./assets/fonts/DalseoHealingMedium.ttf");
}

@font-face {
  font-family: "DalSeoHealingBold";
  src: url("./assets/fonts/DalseoHealingBold.ttf");
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.App {
  display: flex;
  justify-content: center;
  z-index: 1;
  width: 100%;
}

/* @media (min-width: 768px) {
  .App {
    width: 768px;
    display: flex;
    justify-content: center;
    z-index: 1;
  }
} */