@charset "utf-8";

/* 폰트 적용 */
@font-face {
  font-family: "DalSeoHealingMedium";
  src: url("./assets/fonts/DalseoHealingMedium.ttf");
}

@font-face {
  font-family: "DalSeoHealingBold";
  src: url("./assets/fonts/DalseoHealingBold.ttf");
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/* 768px 보다 작을 때 */
@media all and (max-width: 768px) {
  .App {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
}

/* 768px 보다 클 때 */
@media all and (min-width: 768px) {
  .App {
    width: 768px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    height: 100%;
  }
}